/ProyectoUnityInfoG/ProyectoInfoG/Packages

/ProyectoUnityInfoG/ProyectoInfoG/Library
/ProyectoUnityInfoG/ProyectoInfoG/Assembly-CSharp.csproj
/ProyectoUnityInfoG/ProyectoInfoG/Temp/ProcessJobs/e4d7cdea9e7b674007a994e68f178ef6.bakert
/ProyectoUnityInfoG/ProyectoInfoG/Temp/ProcessJobs/e9a6970f79cd12d8b075e7d72f1b07cb.bakert
/ProyectoUnityInfoG/ProyectoInfoG/Temp/UnityLockfile
/ProyectoUnityInfoG/ProyectoInfoG/Temp/UnityTempFile-b46a52fc5a7398f4891240ef266765cd
/ProyectoUnityInfoG/ProyectoInfoG/Temp/__Backupscenes/0.backup
