/ProyectoUnityInfoG/ProyectoInfoG/Packages

/ProyectoUnityInfoG/ProyectoInfoG/Library
/ProyectoUnityInfoG/ProyectoInfoG/Assembly-CSharp.csproj
/ProyectoUnityInfoG/ProyectoInfoG/Temp/ProcessJobs/e4d7cdea9e7b674007a994e68f178ef6.bakert
/ProyectoUnityInfoG/ProyectoInfoG/Temp/ProcessJobs/e9a6970f79cd12d8b075e7d72f1b07cb.bakert
/ProyectoUnityInfoG/ProyectoInfoG/Temp/UnityLockfile
/ProyectoUnityInfoG/ProyectoInfoG/Temp/UnityTempFile-b46a52fc5a7398f4891240ef266765cd
/ProyectoUnityInfoG/ProyectoInfoG/Temp/__Backupscenes/0.backup
/ProyectoUnityInfoG/ProyectoInfoG/ProyectoInfoG.csproj
/ProyectoUnityInfoG/ProyectoInfoG/ProyectoInfoG.sln
/ProyectoUnityInfoG/ProyectoInfoG/Unity.PackageManagerUI.Editor.csproj
/ProyectoUnityInfoG/ProyectoInfoG/Unity.TextMeshPro.csproj
/ProyectoUnityInfoG/ProyectoInfoG/Unity.TextMeshPro.Editor.csproj
/ProyectoUnityInfoG/ProyectoInfoG/UnityEditor.StandardEvents.csproj
/ProyectoUnityInfoG/ProyectoInfoG/.vs
/ProyectoUnityInfoG/ProyectoInfoG/Temp/UnityTempFile-1b8e18e6c439be24fadf14a2a0455beb
/ProyectoUnityInfoG/ProyectoInfoG/Temp/UnityTempFile-2668252df3e1aa84e85080396955e824
/ProyectoUnityInfoG/ProyectoInfoG/Temp/UnityTempFile-67f4d86937d49ff43b48e5aa7954e533
/ProyectoUnityInfoG/ProyectoInfoG/Temp/UnityTempFile-82bd43e91c1fb4b41b2b3c9132fe5aeb
/ProyectoUnityInfoG/ProyectoInfoG/Temp/UnityTempFile-c7649f3b1a486e34ab4f0a3d06ff11f1
/ProyectoUnityInfoG/ProyectoInfoG/obj/Debug/Assembly-CSharp.csproj.CoreCompileInputs.cache
/ProyectoUnityInfoG/ProyectoInfoG/obj/Debug/Assembly-CSharp.csprojAssemblyReference.cache
/ProyectoUnityInfoG/ProyectoInfoG/Temp
